$white-color: #fff;
$gray-border-color: #e0e3eb;
$dark-gray-color: #757575;
$black-color: #434651;
$toolbar-item-background-color: rgba(255, 255, 255, 0.1);
$toolbar-filter-scroll-color: #ccc;

$primary-color: #2962ff;

$open-modal-background-color: #e0e3eb39;

$selec-scrollbar-background-color: rgba(255, 255, 255, 0.1);

$input-border: 1px solid #d1d4dc;

$toolbar-modal-box-shadow: 0 1px 6px 1px rgb(0 0 0 / 28%);
$select-box-shadow: 0 2px 4px #0003;

$slider-background-color :#dee2e6;