.table-container {
    width: 100%;
    height: max-content;
    overflow-x: auto;
    min-height: 400px;
}

table {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 1290px;
}

thead {
    width: 100%;
    display: block;
}

thead tr {
    border: 1px solid $gray-border-color;
    cursor: pointer;
}

thead th:hover {
    background-color: $gray-border-color;
}

thead th {
    color: #6a6d78;
    position: relative;
}

thead th {
    width: 130px;
    min-width: 130px;
}

thead th:first-child {
    width: 270px;
    text-align: left;
}

tr {
    display: flex;
    padding: 0 20px;
}

tbody tr {
    padding: 7px 20px;
}

tr th {
    display: flex;
    border-right: 1px solid $gray-border-color;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 48px;
    font-weight: 400;
    font-size: 13px;
}


.row-head-item-inner {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}

tbody td,
thead th {
    width: 100% !important;

    &:first-child {
        min-width: 270px !important;
    }
}

tbody td {

    width: 130px;
    min-width: 130px;
    text-align: center;
    border-bottom: 1px solid $gray-border-color;
    font-size: 14px;
    display: flex;

    &:not(:last-child, :first-child) {
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        text-align: left;
    }
}

tbody td:first-child {
    width: 270px;
    text-align: left;
}


svg {
    font-size: 22px;
}




// Data-table item
.item-image img {
    border-radius: 100%;
}

.company-info span {
    padding-left: 10px;
    display: block;
}

.company-name {
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
}

.corporation-name {
    font-size: 11px;
    color: #4f5966;
}

.currency-unit {
    color: #787b86;
    font-size: 11px;
    line-height: 16px;
    margin-left: 3px;
}

.color-blue {
    color: $primary-color;
}

.color-red {
    color: #ff4a68;
}

.color-disabled {
    color: #ccc;
}

.color-green {
    color: #00a97f;
}

thead th:last-child,
td:last-child {
    border-right: none;
}

.loading-disabled {
    display: none;
}

.active-desc-sort {
    border-bottom: 2px solid #37a6ef;
    position: relative;
}

.active-desc-sort::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #37a6ef;
    position: absolute;
    top: 100%;
}

.active-asc-sort {
    border-bottom: 2px solid #37a6ef;
    position: relative;

}


.active-asc-sort::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 3px solid #37a6ef;
    position: absolute;
    bottom: 0;
}