.item-image img {
    border-radius: 100%;
}

.company-info span {
    padding-left: 10px;
    display: block;
}

.company-name {
    color: #2962ff;
    font-size: 14px;
    font-weight: 500;
}

.corporation-name {
    font-size: 11px;
    color: #4f5966;
}

.currency-unit {
    color: #787b86;
    font-size: 11px;
    line-height: 16px;
    margin-left: 3px;
}

.color-blue {
    color: #2962ff;
}

.color-red {
    color: #ff4a68;
}

.color-disabled {
    color: #ccc;
}

.color-green {
    color: #00a97f;
}

thead th:last-child,
td:last-child {
    border-right: none;
    /* width: 20% !important; */
}