.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 1290px;
}

thead {
    width: 100%;
    display: block;
}

thead tr {
    border: 1px solid #e6eaef;
}


tr {
    display: flex;
    padding: 0 20px;
}

thead th {
    color: #6a6d78;
}

tr th {
    display: flex;
    border-right: 1px solid #e6eaef;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 48px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 13px;
}

thead th {
    width: 130px;
    min-width: 130px;
}

thead th:first-child {
    width: 270px;
    text-align: left;
    border-bottom: 1px solid #e6eaef;
}

tbody td {
    padding: 8px 20px;
    width: 130px;
    min-width: 130px;
    text-align: center;
    border-bottom: 1px solid #e6eaef;
    font-size: 14px;
    display: flex;
    align-items: center;
}

tbody td:first-child {
    width: 270px;
    text-align: left;
}